@import url('https://fonts.googleapis.com/css?family=Pacifico|Hind+Siliguri|&display=swap');
:root {
  --mainBlue: #1E6F8C;
  --lightBlue: #BEE8F7;
  --mainWhite: rgb(240, 240, 240);
  --mainDark: #022B3A;
  --mainYellow: #BEE8F7;
}
body{
  font-family: 'Hind Siliguri', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
.text-title{
  font-family: 'Pacifico', cursive;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}
.text-blue{
  color: var(--mainBlue);
}
.btn-black{
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}
.btn-black:hover{
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}
.cart-item{
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}